USE [eREST_BD]
GO
/****** Object:  Table [dbo].[eREST_BODEGAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_BODEGAS](
	[BOD_NOMBRE] [varchar](20) NOT NULL,
	[BOD_ESTADO] [bit] NOT NULL,
	[BOD_LOCALIDAD] [varchar](100) NOT NULL,
	[BOD_FK_TIPOBODEGA] [int] NULL,
	[BOD_PK_BODEGA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_BODEGAS] PRIMARY KEY CLUSTERED 
(
	[BOD_PK_BODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_CANTONES]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_CANTONES](
	[CAN_FK_PROVINCIA] [int] NOT NULL,
	[CAN_CANTON] [varchar](30) NOT NULL,
	[CAN_PK_CANTON] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_CANTONES] PRIMARY KEY CLUSTERED 
(
	[CAN_PK_CANTON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_CATEGORIAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_CATEGORIAS](
	[CAT_NOMBRE] [varchar](30) NULL,
	[CAT_PK_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[CAT_PK_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_CONTACTOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_CONTACTOS](
	[PTC_CONTACTO] [varchar](30) NOT NULL,
	[PTC_FK_PERSONA] [int] NOT NULL,
	[PTC_FK_TIPOCONTACTO] [int] NOT NULL,
	[TCO_PK_CONTACTO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_CONTACTOS] PRIMARY KEY CLUSTERED 
(
	[TCO_PK_CONTACTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_DETALLEFACTURAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_DETALLEFACTURAS](
	[DFAC_PK_DETFACTURA] [int] NOT NULL,
	[DFAC_PFK_FACTURA] [int] NOT NULL,
	[DFAC_CANTIDAD] [int] NOT NULL,
	[DFAC_FK_PRODUCTO] [int] NOT NULL,
	[DFAC_DESCUENTO] [float] NULL,
 CONSTRAINT [Key21] PRIMARY KEY CLUSTERED 
(
	[DFAC_PK_DETFACTURA] ASC,
	[DFAC_PFK_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_DETALLEORDENES]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_DETALLEORDENES](
	[DOR_FK_PRODUCTO] [int] NOT NULL,
	[DOR_CANTIDAD] [float] NOT NULL,
	[DOR_FK_ORDEN] [int] NOT NULL,
	[DOR_PK_DETALLEORDEN] [int] IDENTITY(1,1) NOT NULL,
	[DOR_FK_EMPLEADO] [int] NOT NULL,
 CONSTRAINT [PK_eREST_DETALLEORDEN] PRIMARY KEY CLUSTERED 
(
	[DOR_PK_DETALLEORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_DETRECETAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_DETRECETAS](
	[DRE_CANTIDAD] [float] NOT NULL,
	[DRE_UMEDIDA] [varchar](5) NOT NULL,
	[DRE_FK_RECETA] [int] NULL,
	[DRE_FK_INSUMO] [int] NULL,
	[DRE_PK_DETRECETA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_DETRECETA] PRIMARY KEY CLUSTERED 
(
	[DRE_PK_DETRECETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_DETSUBBODEGA]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_DETSUBBODEGA](
	[DSB_CANTIDAD] [float] NOT NULL,
	[DSB_UMEDIDA] [varchar](5) NOT NULL,
	[DSB_FK_SUBBODEGA] [int] NOT NULL,
	[DSB_FK_PRODUCTO] [int] NULL,
	[DSB_FK_INSUMO] [int] NULL,
	[DSB_PK_DETSUBBODEGA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_DETSUBBODEGA] PRIMARY KEY CLUSTERED 
(
	[DSB_PK_DETSUBBODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_DIRECCIONES]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_DIRECCIONES](
	[DIR_FK_DISTRITO] [int] NOT NULL,
	[DIR_DESCRIPCION] [varchar](100) NOT NULL,
	[DIR_PK_DIRECCION] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_DIRECCIONES] PRIMARY KEY CLUSTERED 
(
	[DIR_PK_DIRECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_DISTRITOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_DISTRITOS](
	[DIS_FK_CANTON] [int] NOT NULL,
	[DIS_DISTRITO] [varchar](30) NOT NULL,
	[DIS_PK_DISTRITO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_DISTRITOS] PRIMARY KEY CLUSTERED 
(
	[DIS_PK_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_EMPLEADOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_EMPLEADOS](
	[EMP_PK_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[EMP_FECHAREGISTRO] [date] NOT NULL,
	[EMP_FK_TIPOEMPLEADO] [int] NOT NULL,
	[EMP_FK_PERSONA] [int] NOT NULL,
 CONSTRAINT [PK_eREST_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[EMP_PK_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_EMPRESAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_EMPRESAS](
	[EMP_PK_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[EMP_NOMBRE] [varchar](100) NOT NULL,
	[EMP_TELEFONO] [varchar](30) NULL,
	[EMP_DIRECCION] [varchar](300) NULL,
 CONSTRAINT [PK_eREST_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[EMP_PK_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_FACTURAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_FACTURAS](
	[FAC_PK_FACTURA] [int] NOT NULL,
	[FAC_FK_ORDEN] [int] NULL,
	[FAC_NOMBRE_CLIENTE] [varchar](50) NOT NULL,
	[FAC_ESTADO] [char](1) NOT NULL,
	[FAC_MONTOTOTAL] [float] NOT NULL,
	[FAC_DESCUENTO] [float] NULL,
 CONSTRAINT [Key1] PRIMARY KEY CLUSTERED 
(
	[FAC_PK_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_INSUMOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_INSUMOS](
	[INS_NOMBRE] [varchar](30) NOT NULL,
	[INS_TAMANNO] [float] NULL,
	[INS_UMEDIDA] [varchar](5) NULL,
	[INS_PK_INSUMO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_INSUMOS] PRIMARY KEY CLUSTERED 
(
	[INS_PK_INSUMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_MOBILIARIOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_MOBILIARIOS](
	[MOB_PK_MOBILIARIO] [int] IDENTITY(1,1) NOT NULL,
	[MOB_COORX] [float] NOT NULL,
	[MOB_COORY] [float] NOT NULL,
	[MOB_ESTADO] [bit] NOT NULL,
	[MOB_FK_TIPOMOBILIARIO] [int] NOT NULL,
	[MOB_FK_SECTOR] [int] NOT NULL,
 CONSTRAINT [PK_eREST_MOBILIARIO] PRIMARY KEY CLUSTERED 
(
	[MOB_PK_MOBILIARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_MODULOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_MODULOS](
	[MOD_PK_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[MOD_NOMBRE] [varchar](10) NOT NULL,
	[MOD_DESCRIPCION] [varchar](40) NOT NULL,
	[MOD_ESTADO] [bit] NOT NULL,
 CONSTRAINT [Key3] PRIMARY KEY CLUSTERED 
(
	[MOD_PK_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_ORDENES]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_ORDENES](
	[ORD_FECHA] [datetime] NOT NULL,
	[ORD_ESTADO] [bit] NOT NULL,
	[ORD_IMPUESTO] [bit] NOT NULL,
	[ORD_TOTAL] [float] NULL,
	[ORD_FK_MOBILIARIO] [int] NOT NULL,
	[ORD_PK_ORDEN] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_ORDEN] PRIMARY KEY CLUSTERED 
(
	[ORD_PK_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_PERMISOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_PERMISOS](
	[PRM_PK_PERMISO] [int] NOT NULL,
	[PRM_NOMBRE] [varchar](10) NOT NULL,
	[PRM_DESCRIPCION] [varchar](40) NOT NULL,
	[PRM_ESTADO] [char](1) NOT NULL,
 CONSTRAINT [Key4] PRIMARY KEY CLUSTERED 
(
	[PRM_PK_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_PERMISOS_MODULOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_PERMISOS_MODULOS](
	[MOD_PK_MODULO] [int] NOT NULL,
	[PRM_PK_PERMISO] [int] NOT NULL,
	[ROL_PK_ROL] [int] NOT NULL,
 CONSTRAINT [Key5] PRIMARY KEY CLUSTERED 
(
	[MOD_PK_MODULO] ASC,
	[PRM_PK_PERMISO] ASC,
	[ROL_PK_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_PERSONAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_PERSONAS](
	[PER_CEDULA] [varchar](15) NOT NULL,
	[PER_FK_DIRECCION] [int] NULL,
	[PER_PNOMBRE] [varchar](30) NOT NULL,
	[PER_ESTADO] [char](1) NOT NULL,
	[PER_HDELINCUENCIA] [char](1) NULL,
	[PER_SNOMBRE] [varchar](30) NULL,
	[PER_PAPELLIDO] [varchar](30) NULL,
	[PER_SAPELLIDO] [varchar](30) NULL,
	[PER_GENERO] [char](1) NULL,
	[PER_ESTADOCIVIL] [char](1) NULL,
	[PER_NACIONALIDAD] [char](1) NULL,
	[PER_PK_PERSONA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_PERSONAS] PRIMARY KEY CLUSTERED 
(
	[PER_PK_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_PRODUCTOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_PRODUCTOS](
	[PRO_NOMBRE] [varchar](40) NOT NULL,
	[PRO_UMEDIDA] [varchar](5) NULL,
	[PRO_TAMANNO] [float] NULL,
	[PRO_PREPARADO] [bit] NOT NULL,
	[PRO_FK_SUBCATEGORIA] [int] NOT NULL,
	[PRO_FK_RECETA] [int] NULL,
	[PRO_PK_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[PRO_ESTADO] [bit] NOT NULL,
	[PRO_RUTAIMAGEN] [varchar](500) NOT NULL,
 CONSTRAINT [PK_eREST_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[PRO_PK_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_PROVINCIAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_PROVINCIAS](
	[PRO_PROVINCIA] [varchar](30) NOT NULL,
	[PRO_PK_PROVINCIA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_PROVINCIAS] PRIMARY KEY CLUSTERED 
(
	[PRO_PK_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_RECETAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_RECETAS](
	[REC_ESTADO] [bit] NOT NULL,
	[REC_PK_RECETA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_RECETA] PRIMARY KEY CLUSTERED 
(
	[REC_PK_RECETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_ROLES]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_ROLES](
	[ROL_PK_ROL] [int] IDENTITY(1,1) NOT NULL,
	[ROL_DESCRIPCION] [varchar](40) NOT NULL,
	[ROL_ESTADO] [char](1) NOT NULL,
 CONSTRAINT [Key2] PRIMARY KEY CLUSTERED 
(
	[ROL_PK_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_SECTOR]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_SECTOR](
	[SEC_PK_SECTOR] [int] IDENTITY(1,1) NOT NULL,
	[SEC_NOMBRE] [varchar](20) NOT NULL,
	[SEC_COORX] [float] NOT NULL,
	[SEC_COORY] [float] NOT NULL,
	[SEC_FK_EMPRESA] [int] NULL,
 CONSTRAINT [PK_eREST_SECTOR] PRIMARY KEY CLUSTERED 
(
	[SEC_PK_SECTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_SUBBODEGAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_SUBBODEGAS](
	[SBO_FECHA] [datetime] NOT NULL,
	[SBO_ESTADO] [bit] NOT NULL,
	[SBO_FK_BODEGA] [int] NULL,
	[SBO_PK_SUBBODEGA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_SUBBODEGAS] PRIMARY KEY CLUSTERED 
(
	[SBO_PK_SUBBODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_SUBCATEGORIAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_SUBCATEGORIAS](
	[SCA_NOMBRE] [varchar](30) NULL,
	[SCA_FK_CATEGORIA] [int] NULL,
	[SCA_PK_SUBCATEGORIA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_SUBCATEGORIA] PRIMARY KEY CLUSTERED 
(
	[SCA_PK_SUBCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_TIPOBODEGAS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_TIPOBODEGAS](
	[TBO_NOMBRE] [varchar](30) NOT NULL,
	[TBO_PK_TIPOBODEGA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_TIPOBODEGA] PRIMARY KEY CLUSTERED 
(
	[TBO_PK_TIPOBODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_TIPOCONTACTOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_TIPOCONTACTOS](
	[TIP_NOMBRE] [varchar](30) NOT NULL,
	[TIP_PK_TIPOCONTACTO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_TIPOCONTACTO] PRIMARY KEY CLUSTERED 
(
	[TIP_PK_TIPOCONTACTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_TIPOEMPLEADOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_TIPOEMPLEADOS](
	[TEM_PK_TIPOEMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[TEM_NOMBRE] [varchar](30) NOT NULL,
 CONSTRAINT [PK_eREST_TIPOEMPLEADO] PRIMARY KEY CLUSTERED 
(
	[TEM_PK_TIPOEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_TIPOMOBILIARIOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_TIPOMOBILIARIOS](
	[TMO_PK_TIPOMOBILIARIO] [int] IDENTITY(1,1) NOT NULL,
	[TMO_NOMBRE] [varchar](30) NOT NULL,
	[TMO_IMAGEN] [varchar](300) NOT NULL,
	[TMO_DESCRIPCION] [varchar](100) NOT NULL,
 CONSTRAINT [PK_eREST_TIPOMOBILIARIO] PRIMARY KEY CLUSTERED 
(
	[TMO_PK_TIPOMOBILIARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_USUARIOS]    Script Date: 14/06/2016 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_USUARIOS](
	[USU_USUARIO] [varchar](1) NOT NULL,
	[USU_CLAVE] [varchar](1) NOT NULL,
	[USU_ESTADO] [char](1) NOT NULL,
	[USU_FK_ROL] [int] NOT NULL,
	[USU_ERRORINTENTO] [int] NULL,
	[USU_PFK_PERSONA] [int] NOT NULL,
 CONSTRAINT [PK_eREST_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[USU_PFK_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[eREST_EMPRESAS] ON 

INSERT [dbo].[eREST_EMPRESAS] ([EMP_PK_EMPRESA], [EMP_NOMBRE], [EMP_TELEFONO], [EMP_DIRECCION]) VALUES (1, N'praditos', N'83166927', N'por ahi')
SET IDENTITY_INSERT [dbo].[eREST_EMPRESAS] OFF
SET IDENTITY_INSERT [dbo].[eREST_INSUMOS] ON 

INSERT [dbo].[eREST_INSUMOS] ([INS_NOMBRE], [INS_TAMANNO], [INS_UMEDIDA], [INS_PK_INSUMO]) VALUES (N'Cerveza', 200, N'li', 1)
INSERT [dbo].[eREST_INSUMOS] ([INS_NOMBRE], [INS_TAMANNO], [INS_UMEDIDA], [INS_PK_INSUMO]) VALUES (N'Licor', 1, N'li', 2)
SET IDENTITY_INSERT [dbo].[eREST_INSUMOS] OFF
SET IDENTITY_INSERT [dbo].[eREST_MOBILIARIOS] ON 

INSERT [dbo].[eREST_MOBILIARIOS] ([MOB_PK_MOBILIARIO], [MOB_COORX], [MOB_COORY], [MOB_ESTADO], [MOB_FK_TIPOMOBILIARIO], [MOB_FK_SECTOR]) VALUES (1, 3, 4, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[eREST_MOBILIARIOS] OFF
SET IDENTITY_INSERT [dbo].[eREST_SECTOR] ON 

INSERT [dbo].[eREST_SECTOR] ([SEC_PK_SECTOR], [SEC_NOMBRE], [SEC_COORX], [SEC_COORY], [SEC_FK_EMPRESA]) VALUES (1, N'uno', 3, 2, 1)
SET IDENTITY_INSERT [dbo].[eREST_SECTOR] OFF
SET IDENTITY_INSERT [dbo].[eREST_TIPOMOBILIARIOS] ON 

INSERT [dbo].[eREST_TIPOMOBILIARIOS] ([TMO_PK_TIPOMOBILIARIO], [TMO_NOMBRE], [TMO_IMAGEN], [TMO_DESCRIPCION]) VALUES (1, N'mesas', N'msad', N'asdas')
SET IDENTITY_INSERT [dbo].[eREST_TIPOMOBILIARIOS] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_eREST_PERSONAS]    Script Date: 14/06/2016 13:17:57 ******/
ALTER TABLE [dbo].[eREST_PERSONAS] ADD  CONSTRAINT [IX_eREST_PERSONAS] UNIQUE NONCLUSTERED 
(
	[PER_CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[eREST_BODEGAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_BODEGAS_eREST_TIPOBODEGA] FOREIGN KEY([BOD_FK_TIPOBODEGA])
REFERENCES [dbo].[eREST_TIPOBODEGAS] ([TBO_PK_TIPOBODEGA])
GO
ALTER TABLE [dbo].[eREST_BODEGAS] CHECK CONSTRAINT [FK_eREST_BODEGAS_eREST_TIPOBODEGA]
GO
ALTER TABLE [dbo].[eREST_CANTONES]  WITH CHECK ADD  CONSTRAINT [FK_eREST_CANTONES_eREST_PROVINCIAS] FOREIGN KEY([CAN_FK_PROVINCIA])
REFERENCES [dbo].[eREST_PROVINCIAS] ([PRO_PK_PROVINCIA])
GO
ALTER TABLE [dbo].[eREST_CANTONES] CHECK CONSTRAINT [FK_eREST_CANTONES_eREST_PROVINCIAS]
GO
ALTER TABLE [dbo].[eREST_CONTACTOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_CONTACTOS_eREST_PERSONAS] FOREIGN KEY([PTC_FK_PERSONA])
REFERENCES [dbo].[eREST_PERSONAS] ([PER_PK_PERSONA])
GO
ALTER TABLE [dbo].[eREST_CONTACTOS] CHECK CONSTRAINT [FK_eREST_CONTACTOS_eREST_PERSONAS]
GO
ALTER TABLE [dbo].[eREST_CONTACTOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_CONTACTOS_eREST_TIPOCONTACTO] FOREIGN KEY([PTC_FK_TIPOCONTACTO])
REFERENCES [dbo].[eREST_TIPOCONTACTOS] ([TIP_PK_TIPOCONTACTO])
GO
ALTER TABLE [dbo].[eREST_CONTACTOS] CHECK CONSTRAINT [FK_eREST_CONTACTOS_eREST_TIPOCONTACTO]
GO
ALTER TABLE [dbo].[eREST_DETALLEFACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETALLEFACTURAS_eREST_FACTURAS] FOREIGN KEY([DFAC_PFK_FACTURA])
REFERENCES [dbo].[eREST_FACTURAS] ([FAC_PK_FACTURA])
GO
ALTER TABLE [dbo].[eREST_DETALLEFACTURAS] CHECK CONSTRAINT [FK_eREST_DETALLEFACTURAS_eREST_FACTURAS]
GO
ALTER TABLE [dbo].[eREST_DETALLEFACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETALLEFACTURAS_eREST_PRODUCTO] FOREIGN KEY([DFAC_FK_PRODUCTO])
REFERENCES [dbo].[eREST_PRODUCTOS] ([PRO_PK_PRODUCTO])
GO
ALTER TABLE [dbo].[eREST_DETALLEFACTURAS] CHECK CONSTRAINT [FK_eREST_DETALLEFACTURAS_eREST_PRODUCTO]
GO
ALTER TABLE [dbo].[eREST_DETALLEORDENES]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETALLEORDEN_eREST_EMPLEADOS] FOREIGN KEY([DOR_PK_DETALLEORDEN])
REFERENCES [dbo].[eREST_EMPLEADOS] ([EMP_PK_EMPLEADO])
GO
ALTER TABLE [dbo].[eREST_DETALLEORDENES] CHECK CONSTRAINT [FK_eREST_DETALLEORDEN_eREST_EMPLEADOS]
GO
ALTER TABLE [dbo].[eREST_DETALLEORDENES]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETALLEORDEN_eREST_ORDEN] FOREIGN KEY([DOR_FK_ORDEN])
REFERENCES [dbo].[eREST_ORDENES] ([ORD_PK_ORDEN])
GO
ALTER TABLE [dbo].[eREST_DETALLEORDENES] CHECK CONSTRAINT [FK_eREST_DETALLEORDEN_eREST_ORDEN]
GO
ALTER TABLE [dbo].[eREST_DETALLEORDENES]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETALLEORDEN_eREST_PRODUCTO] FOREIGN KEY([DOR_FK_PRODUCTO])
REFERENCES [dbo].[eREST_PRODUCTOS] ([PRO_PK_PRODUCTO])
GO
ALTER TABLE [dbo].[eREST_DETALLEORDENES] CHECK CONSTRAINT [FK_eREST_DETALLEORDEN_eREST_PRODUCTO]
GO
ALTER TABLE [dbo].[eREST_DETRECETAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETRECETA_eREST_INSUMOS] FOREIGN KEY([DRE_FK_INSUMO])
REFERENCES [dbo].[eREST_INSUMOS] ([INS_PK_INSUMO])
GO
ALTER TABLE [dbo].[eREST_DETRECETAS] CHECK CONSTRAINT [FK_eREST_DETRECETA_eREST_INSUMOS]
GO
ALTER TABLE [dbo].[eREST_DETRECETAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETRECETA_eREST_RECETA] FOREIGN KEY([DRE_FK_RECETA])
REFERENCES [dbo].[eREST_RECETAS] ([REC_PK_RECETA])
GO
ALTER TABLE [dbo].[eREST_DETRECETAS] CHECK CONSTRAINT [FK_eREST_DETRECETA_eREST_RECETA]
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_INSUMOS] FOREIGN KEY([DSB_FK_INSUMO])
REFERENCES [dbo].[eREST_INSUMOS] ([INS_PK_INSUMO])
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA] CHECK CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_INSUMOS]
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_PRODUCTO] FOREIGN KEY([DSB_FK_PRODUCTO])
REFERENCES [dbo].[eREST_PRODUCTOS] ([PRO_PK_PRODUCTO])
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA] CHECK CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_PRODUCTO]
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_SUBBODEGAS] FOREIGN KEY([DSB_FK_SUBBODEGA])
REFERENCES [dbo].[eREST_SUBBODEGAS] ([SBO_PK_SUBBODEGA])
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA] CHECK CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_SUBBODEGAS]
GO
ALTER TABLE [dbo].[eREST_DIRECCIONES]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DIRECCIONES_eREST_DISTRITOS] FOREIGN KEY([DIR_FK_DISTRITO])
REFERENCES [dbo].[eREST_DISTRITOS] ([DIS_PK_DISTRITO])
GO
ALTER TABLE [dbo].[eREST_DIRECCIONES] CHECK CONSTRAINT [FK_eREST_DIRECCIONES_eREST_DISTRITOS]
GO
ALTER TABLE [dbo].[eREST_DISTRITOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DISTRITOS_eREST_CANTONES] FOREIGN KEY([DIS_FK_CANTON])
REFERENCES [dbo].[eREST_CANTONES] ([CAN_PK_CANTON])
GO
ALTER TABLE [dbo].[eREST_DISTRITOS] CHECK CONSTRAINT [FK_eREST_DISTRITOS_eREST_CANTONES]
GO
ALTER TABLE [dbo].[eREST_EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_EMPLEADOS_eREST_PERSONAS] FOREIGN KEY([EMP_FK_PERSONA])
REFERENCES [dbo].[eREST_PERSONAS] ([PER_PK_PERSONA])
GO
ALTER TABLE [dbo].[eREST_EMPLEADOS] CHECK CONSTRAINT [FK_eREST_EMPLEADOS_eREST_PERSONAS]
GO
ALTER TABLE [dbo].[eREST_EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_EMPLEADOS_eREST_TIPOEMPLEADO] FOREIGN KEY([EMP_FK_TIPOEMPLEADO])
REFERENCES [dbo].[eREST_TIPOEMPLEADOS] ([TEM_PK_TIPOEMPLEADO])
GO
ALTER TABLE [dbo].[eREST_EMPLEADOS] CHECK CONSTRAINT [FK_eREST_EMPLEADOS_eREST_TIPOEMPLEADO]
GO
ALTER TABLE [dbo].[eREST_FACTURAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_FACTURAS_eREST_ORDEN] FOREIGN KEY([FAC_PK_FACTURA])
REFERENCES [dbo].[eREST_ORDENES] ([ORD_PK_ORDEN])
GO
ALTER TABLE [dbo].[eREST_FACTURAS] CHECK CONSTRAINT [FK_eREST_FACTURAS_eREST_ORDEN]
GO
ALTER TABLE [dbo].[eREST_MOBILIARIOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_MOBILIARIO_eREST_SECTOR] FOREIGN KEY([MOB_FK_SECTOR])
REFERENCES [dbo].[eREST_SECTOR] ([SEC_PK_SECTOR])
GO
ALTER TABLE [dbo].[eREST_MOBILIARIOS] CHECK CONSTRAINT [FK_eREST_MOBILIARIO_eREST_SECTOR]
GO
ALTER TABLE [dbo].[eREST_MOBILIARIOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_MOBILIARIO_eREST_TIPOMOBILIARIO] FOREIGN KEY([MOB_FK_TIPOMOBILIARIO])
REFERENCES [dbo].[eREST_TIPOMOBILIARIOS] ([TMO_PK_TIPOMOBILIARIO])
GO
ALTER TABLE [dbo].[eREST_MOBILIARIOS] CHECK CONSTRAINT [FK_eREST_MOBILIARIO_eREST_TIPOMOBILIARIO]
GO
ALTER TABLE [dbo].[eREST_ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_eREST_ORDEN_eREST_MOBILIARIO] FOREIGN KEY([ORD_FK_MOBILIARIO])
REFERENCES [dbo].[eREST_MOBILIARIOS] ([MOB_PK_MOBILIARIO])
GO
ALTER TABLE [dbo].[eREST_ORDENES] CHECK CONSTRAINT [FK_eREST_ORDEN_eREST_MOBILIARIO]
GO
ALTER TABLE [dbo].[eREST_PERMISOS_MODULOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_PERMISOS_MODULOS_eREST_MODULOS] FOREIGN KEY([MOD_PK_MODULO])
REFERENCES [dbo].[eREST_MODULOS] ([MOD_PK_MODULO])
GO
ALTER TABLE [dbo].[eREST_PERMISOS_MODULOS] CHECK CONSTRAINT [FK_eREST_PERMISOS_MODULOS_eREST_MODULOS]
GO
ALTER TABLE [dbo].[eREST_PERMISOS_MODULOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_PERMISOS_MODULOS_eREST_PERMISOS] FOREIGN KEY([PRM_PK_PERMISO])
REFERENCES [dbo].[eREST_PERMISOS] ([PRM_PK_PERMISO])
GO
ALTER TABLE [dbo].[eREST_PERMISOS_MODULOS] CHECK CONSTRAINT [FK_eREST_PERMISOS_MODULOS_eREST_PERMISOS]
GO
ALTER TABLE [dbo].[eREST_PERMISOS_MODULOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_PERMISOS_MODULOS_eREST_ROLES] FOREIGN KEY([ROL_PK_ROL])
REFERENCES [dbo].[eREST_ROLES] ([ROL_PK_ROL])
GO
ALTER TABLE [dbo].[eREST_PERMISOS_MODULOS] CHECK CONSTRAINT [FK_eREST_PERMISOS_MODULOS_eREST_ROLES]
GO
ALTER TABLE [dbo].[eREST_PERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_PERSONAS_eREST_DIRECCIONES] FOREIGN KEY([PER_FK_DIRECCION])
REFERENCES [dbo].[eREST_DIRECCIONES] ([DIR_PK_DIRECCION])
GO
ALTER TABLE [dbo].[eREST_PERSONAS] CHECK CONSTRAINT [FK_eREST_PERSONAS_eREST_DIRECCIONES]
GO
ALTER TABLE [dbo].[eREST_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_PRODUCTO_eREST_RECETA] FOREIGN KEY([PRO_FK_RECETA])
REFERENCES [dbo].[eREST_RECETAS] ([REC_PK_RECETA])
GO
ALTER TABLE [dbo].[eREST_PRODUCTOS] CHECK CONSTRAINT [FK_eREST_PRODUCTO_eREST_RECETA]
GO
ALTER TABLE [dbo].[eREST_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_PRODUCTO_eREST_SUBCATEGORIA] FOREIGN KEY([PRO_FK_SUBCATEGORIA])
REFERENCES [dbo].[eREST_SUBCATEGORIAS] ([SCA_PK_SUBCATEGORIA])
GO
ALTER TABLE [dbo].[eREST_PRODUCTOS] CHECK CONSTRAINT [FK_eREST_PRODUCTO_eREST_SUBCATEGORIA]
GO
ALTER TABLE [dbo].[eREST_SECTOR]  WITH CHECK ADD  CONSTRAINT [FK_eREST_SECTOR_eREST_EMPRESA] FOREIGN KEY([SEC_FK_EMPRESA])
REFERENCES [dbo].[eREST_EMPRESAS] ([EMP_PK_EMPRESA])
GO
ALTER TABLE [dbo].[eREST_SECTOR] CHECK CONSTRAINT [FK_eREST_SECTOR_eREST_EMPRESA]
GO
ALTER TABLE [dbo].[eREST_SUBBODEGAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_SUBBODEGAS_eREST_BODEGAS] FOREIGN KEY([SBO_FK_BODEGA])
REFERENCES [dbo].[eREST_BODEGAS] ([BOD_PK_BODEGA])
GO
ALTER TABLE [dbo].[eREST_SUBBODEGAS] CHECK CONSTRAINT [FK_eREST_SUBBODEGAS_eREST_BODEGAS]
GO
ALTER TABLE [dbo].[eREST_SUBCATEGORIAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_SUBCATEGORIA_eREST_CATEGORIA] FOREIGN KEY([SCA_FK_CATEGORIA])
REFERENCES [dbo].[eREST_CATEGORIAS] ([CAT_PK_CATEGORIA])
GO
ALTER TABLE [dbo].[eREST_SUBCATEGORIAS] CHECK CONSTRAINT [FK_eREST_SUBCATEGORIA_eREST_CATEGORIA]
GO
ALTER TABLE [dbo].[eREST_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_USUARIOS_eREST_PERSONAS] FOREIGN KEY([USU_PFK_PERSONA])
REFERENCES [dbo].[eREST_PERSONAS] ([PER_PK_PERSONA])
GO
ALTER TABLE [dbo].[eREST_USUARIOS] CHECK CONSTRAINT [FK_eREST_USUARIOS_eREST_PERSONAS]
GO
ALTER TABLE [dbo].[eREST_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_USUARIOS_eREST_ROLES] FOREIGN KEY([USU_FK_ROL])
REFERENCES [dbo].[eREST_ROLES] ([ROL_PK_ROL])
GO
ALTER TABLE [dbo].[eREST_USUARIOS] CHECK CONSTRAINT [FK_eREST_USUARIOS_eREST_ROLES]
GO
