USE [master]
GO
/****** Object:  Database [eREST_BD]    Script Date: 4/1/2016 8:42:43 a. m. ******/
CREATE DATABASE [eREST_BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eREST_BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\eREST_BD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'eREST_BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\eREST_BD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eREST_BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eREST_BD]
GO
/****** Object:  Table [dbo].[eREST_BODEGAS]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_BODEGAS](
	[BOD_NOMBRE] [varchar](20) NOT NULL,
	[BOD_ESTADO] [bit] NOT NULL,
	[BOD_LOCALIDAD] [varchar](100) NOT NULL,
	[BOD_FK_TIPOBODEGA] [int] NULL,
	[BOD_PK_BODEGA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_BODEGAS] PRIMARY KEY CLUSTERED 
(
	[BOD_PK_BODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_CANTONES]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_CANTONES](
	[CAN_FK_PROVINCIA] [int] NOT NULL,
	[CAN_CANTON] [varchar](30) NOT NULL,
	[CAN_PK_CANTON] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_CANTONES] PRIMARY KEY CLUSTERED 
(
	[CAN_PK_CANTON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_CATEGORIA]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_CATEGORIA](
	[CAT_NOMBRE] [varchar](30) NULL,
	[CAT_PK_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[CAT_PK_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_CONTACTOS]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_CONTACTOS](
	[PTC_CONTACTO] [varchar](30) NOT NULL,
	[PTC_FK_PERSONA] [int] NOT NULL,
	[PTC_FK_TIPOCONTACTO] [int] NOT NULL,
	[TCO_PK_CONTACTO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_CONTACTOS] PRIMARY KEY CLUSTERED 
(
	[TCO_PK_CONTACTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_DETALLEORDEN]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_DETALLEORDEN](
	[DOR_PK_DETALLEORDEN] [int] NOT NULL,
	[DOR_FK_PRODUCTO] [int] NOT NULL,
	[DOR_CANTIDAD] [float] NOT NULL,
	[DOR_FK_ORDEN] [int] NOT NULL,
 CONSTRAINT [PK_eREST_DETALLEORDEN] PRIMARY KEY CLUSTERED 
(
	[DOR_PK_DETALLEORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_DETRECETA]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_DETRECETA](
	[DRE_CANTIDAD] [float] NOT NULL,
	[DRE_UMEDIDA] [varchar](5) NOT NULL,
	[DRE_FK_RECETA] [int] NULL,
	[DRE_FK_INSUMO] [int] NULL,
	[DRE_PK_DETRECETA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_DETRECETA] PRIMARY KEY CLUSTERED 
(
	[DRE_PK_DETRECETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_DETSUBBODEGA]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_DETSUBBODEGA](
	[DSB_CANTIDAD] [float] NOT NULL,
	[DSB_UMEDIDA] [varchar](5) NOT NULL,
	[DSB_FK_SUBBODEGA] [int] NOT NULL,
	[DSB_FK_PRODUCTO] [int] NULL,
	[DSB_FK_INSUMO] [int] NULL,
	[DSB_PK_DETSUBBODEGA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_DETSUBBODEGA] PRIMARY KEY CLUSTERED 
(
	[DSB_PK_DETSUBBODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_DIRECCIONES]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_DIRECCIONES](
	[DIR_FK_DISTRITO] [int] NOT NULL,
	[DIR_DESCRIPCION] [varchar](100) NOT NULL,
	[DIR_PK_DIRECCION] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_DIRECCIONES] PRIMARY KEY CLUSTERED 
(
	[DIR_PK_DIRECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_DISTRITOS]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_DISTRITOS](
	[DIS_FK_CANTON] [int] NOT NULL,
	[DIS_DISTRITO] [varchar](30) NOT NULL,
	[DIS_PK_DISTRITO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_DISTRITOS] PRIMARY KEY CLUSTERED 
(
	[DIS_PK_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_EMPRESA]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_EMPRESA](
	[EMP_PK_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[EMP_NOMBRE] [varchar](100) NOT NULL,
	[EMP_TELEFONO] [varchar](30) NULL,
	[EMP_DIRECCION] [varchar](300) NULL,
 CONSTRAINT [PK_eREST_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[EMP_PK_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_INSUMOS]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_INSUMOS](
	[INS_NOMBRE] [varchar](30) NOT NULL,
	[INS_TAMANNO] [float] NULL,
	[INS_UMEDIDA] [varchar](5) NULL,
	[INS_PK_INSUMO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_INSUMOS] PRIMARY KEY CLUSTERED 
(
	[INS_PK_INSUMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_MOBILIARIO]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_MOBILIARIO](
	[MOB_PK_MOBILIARIO] [int] IDENTITY(1,1) NOT NULL,
	[MOB_COORX] [float] NOT NULL,
	[MOB_COORY] [float] NOT NULL,
	[MOB_ESTADO] [bit] NOT NULL,
	[MOB_FK_TIPOMOBILIARIO] [int] NOT NULL,
	[MOB_FK_SECTOR] [int] NOT NULL,
 CONSTRAINT [PK_eREST_MOBILIARIO] PRIMARY KEY CLUSTERED 
(
	[MOB_PK_MOBILIARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_ORDEN]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_ORDEN](
	[ORD_PK_ORDEN] [int] NOT NULL,
	[ORD_FK_USUARIO] [int] NOT NULL,
	[ORD_FECHA] [datetime] NOT NULL,
	[ORD_ESTADO] [bit] NOT NULL,
	[ORD_IMPUESTO] [bit] NOT NULL,
	[ORD_TOTAL] [float] NULL,
	[ORD_FK_MOBILIARIO] [int] NOT NULL,
 CONSTRAINT [PK_eREST_ORDEN] PRIMARY KEY CLUSTERED 
(
	[ORD_PK_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_PERSONAS]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_PERSONAS](
	[PER_PK_CEDULA] [int] NOT NULL,
	[PER_FK_DIRECCION] [int] NULL,
	[PER_PNOMBRE] [varchar](30) NOT NULL,
	[PER_ESTADO] [char](1) NOT NULL,
	[PER_HDELINCUENCIA] [char](1) NULL,
	[PER_SNOMBRE] [varchar](30) NULL,
	[PER_PAPELLIDO] [varchar](30) NULL,
	[PER_SAPELLIDO] [varchar](30) NULL,
	[PER_GENERO] [char](1) NULL,
	[PER_ESTADOCIVIL] [char](1) NULL,
	[PER_NACIONALIDAD] [char](1) NULL,
	[PER_PK_PERSONA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_PERSONAS] PRIMARY KEY CLUSTERED 
(
	[PER_PK_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_eREST_PERSONAS] UNIQUE NONCLUSTERED 
(
	[PER_PK_CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_PRODUCTO]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_PRODUCTO](
	[PRO_NOMBRE] [varchar](40) NOT NULL,
	[PRO_UMEDIDA] [varchar](5) NULL,
	[PRO_TAMANNO] [float] NULL,
	[PRO_PREPARADO] [bit] NOT NULL,
	[PRO_FK_SUBCATEGORIA] [int] NOT NULL,
	[PRO_FK_RECETA] [int] NULL,
	[PRO_PK_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[PRO_PK_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_PROVINCIAS]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_PROVINCIAS](
	[PRO_PROVINCIA] [varchar](30) NOT NULL,
	[PRO_PK_PROVINCIA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_PROVINCIAS] PRIMARY KEY CLUSTERED 
(
	[PRO_PK_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_RECETA]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_RECETA](
	[REC_ESTADO] [bit] NOT NULL,
	[REC_PK_RECETA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_RECETA] PRIMARY KEY CLUSTERED 
(
	[REC_PK_RECETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_SECTOR]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_SECTOR](
	[SEC_PK_SECTOR] [int] IDENTITY(1,1) NOT NULL,
	[SEC_NOMBRE] [varchar](20) NOT NULL,
	[SEC_COORX] [float] NOT NULL,
	[SEC_COORY] [float] NOT NULL,
	[SEC_FK_EMPRESA] [int] NULL,
 CONSTRAINT [PK_eREST_SECTOR] PRIMARY KEY CLUSTERED 
(
	[SEC_PK_SECTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_SUBBODEGAS]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eREST_SUBBODEGAS](
	[SBO_FECHA] [datetime] NOT NULL,
	[SBO_ESTADO] [bit] NOT NULL,
	[SBO_FK_BODEGA] [int] NULL,
	[SBO_PK_SUBBODEGA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_SUBBODEGAS] PRIMARY KEY CLUSTERED 
(
	[SBO_PK_SUBBODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eREST_SUBCATEGORIA]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_SUBCATEGORIA](
	[SCA_NOMBRE] [varchar](30) NULL,
	[SCA_FK_CATEGORIA] [int] NULL,
	[SCA_PK_SUBCATEGORIA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_SUBCATEGORIA] PRIMARY KEY CLUSTERED 
(
	[SCA_PK_SUBCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_TIPOBODEGA]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_TIPOBODEGA](
	[TBO_NOMBRE] [varchar](30) NOT NULL,
	[TBO_PK_TIPOBODEGA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_TIPOBODEGA] PRIMARY KEY CLUSTERED 
(
	[TBO_PK_TIPOBODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_TIPOCONTACTO]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_TIPOCONTACTO](
	[TIP_NOMBRE] [varchar](30) NOT NULL,
	[TIP_PK_TIPOCONTACTO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_eREST_TIPOCONTACTO] PRIMARY KEY CLUSTERED 
(
	[TIP_PK_TIPOCONTACTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_TIPOMOBILIARIO]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_TIPOMOBILIARIO](
	[TMO_PK_TIPOMOBILIARIO] [int] IDENTITY(1,1) NOT NULL,
	[TMO_NOMBRE] [varchar](30) NOT NULL,
	[TMO_IMAGEN] [varchar](300) NOT NULL,
	[TMO_DESCRIPCION] [varchar](100) NOT NULL,
 CONSTRAINT [PK_eREST_TIPOMOBILIARIO] PRIMARY KEY CLUSTERED 
(
	[TMO_PK_TIPOMOBILIARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eREST_USUARIO]    Script Date: 4/1/2016 8:42:43 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eREST_USUARIO](
	[USU_PK_USUARIO] [int] NOT NULL,
	[USU_FK_PERSONA] [int] NULL,
	[USU_FK_ROL] [int] NULL,
	[USU_NOMBRE_USAURIO] [varchar](30) NULL,
	[USU_CLAVE] [varchar](30) NULL,
	[USU_FK_EMPLEADO] [int] NULL,
	[USU_ESTADO] [bit] NULL,
 CONSTRAINT [Key18] PRIMARY KEY CLUSTERED 
(
	[USU_PK_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[eREST_BODEGAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_BODEGAS_eREST_TIPOBODEGA] FOREIGN KEY([BOD_FK_TIPOBODEGA])
REFERENCES [dbo].[eREST_TIPOBODEGA] ([TBO_PK_TIPOBODEGA])
GO
ALTER TABLE [dbo].[eREST_BODEGAS] CHECK CONSTRAINT [FK_eREST_BODEGAS_eREST_TIPOBODEGA]
GO
ALTER TABLE [dbo].[eREST_CANTONES]  WITH CHECK ADD  CONSTRAINT [FK_eREST_CANTONES_eREST_PROVINCIAS] FOREIGN KEY([CAN_FK_PROVINCIA])
REFERENCES [dbo].[eREST_PROVINCIAS] ([PRO_PK_PROVINCIA])
GO
ALTER TABLE [dbo].[eREST_CANTONES] CHECK CONSTRAINT [FK_eREST_CANTONES_eREST_PROVINCIAS]
GO
ALTER TABLE [dbo].[eREST_CONTACTOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_CONTACTOS_eREST_PERSONAS] FOREIGN KEY([PTC_FK_PERSONA])
REFERENCES [dbo].[eREST_PERSONAS] ([PER_PK_PERSONA])
GO
ALTER TABLE [dbo].[eREST_CONTACTOS] CHECK CONSTRAINT [FK_eREST_CONTACTOS_eREST_PERSONAS]
GO
ALTER TABLE [dbo].[eREST_CONTACTOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_CONTACTOS_eREST_TIPOCONTACTO] FOREIGN KEY([PTC_FK_TIPOCONTACTO])
REFERENCES [dbo].[eREST_TIPOCONTACTO] ([TIP_PK_TIPOCONTACTO])
GO
ALTER TABLE [dbo].[eREST_CONTACTOS] CHECK CONSTRAINT [FK_eREST_CONTACTOS_eREST_TIPOCONTACTO]
GO
ALTER TABLE [dbo].[eREST_DETALLEORDEN]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETALLEORDEN_eREST_ORDEN] FOREIGN KEY([DOR_FK_ORDEN])
REFERENCES [dbo].[eREST_ORDEN] ([ORD_PK_ORDEN])
GO
ALTER TABLE [dbo].[eREST_DETALLEORDEN] CHECK CONSTRAINT [FK_eREST_DETALLEORDEN_eREST_ORDEN]
GO
ALTER TABLE [dbo].[eREST_DETALLEORDEN]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETALLEORDEN_eREST_PRODUCTO] FOREIGN KEY([DOR_FK_PRODUCTO])
REFERENCES [dbo].[eREST_PRODUCTO] ([PRO_PK_PRODUCTO])
GO
ALTER TABLE [dbo].[eREST_DETALLEORDEN] CHECK CONSTRAINT [FK_eREST_DETALLEORDEN_eREST_PRODUCTO]
GO
ALTER TABLE [dbo].[eREST_DETRECETA]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETRECETA_eREST_INSUMOS] FOREIGN KEY([DRE_FK_INSUMO])
REFERENCES [dbo].[eREST_INSUMOS] ([INS_PK_INSUMO])
GO
ALTER TABLE [dbo].[eREST_DETRECETA] CHECK CONSTRAINT [FK_eREST_DETRECETA_eREST_INSUMOS]
GO
ALTER TABLE [dbo].[eREST_DETRECETA]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETRECETA_eREST_RECETA] FOREIGN KEY([DRE_FK_RECETA])
REFERENCES [dbo].[eREST_RECETA] ([REC_PK_RECETA])
GO
ALTER TABLE [dbo].[eREST_DETRECETA] CHECK CONSTRAINT [FK_eREST_DETRECETA_eREST_RECETA]
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_INSUMOS] FOREIGN KEY([DSB_FK_INSUMO])
REFERENCES [dbo].[eREST_INSUMOS] ([INS_PK_INSUMO])
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA] CHECK CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_INSUMOS]
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_PRODUCTO] FOREIGN KEY([DSB_FK_PRODUCTO])
REFERENCES [dbo].[eREST_PRODUCTO] ([PRO_PK_PRODUCTO])
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA] CHECK CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_PRODUCTO]
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_SUBBODEGAS] FOREIGN KEY([DSB_FK_SUBBODEGA])
REFERENCES [dbo].[eREST_SUBBODEGAS] ([SBO_PK_SUBBODEGA])
GO
ALTER TABLE [dbo].[eREST_DETSUBBODEGA] CHECK CONSTRAINT [FK_eREST_DETSUBBODEGA_eREST_SUBBODEGAS]
GO
ALTER TABLE [dbo].[eREST_DIRECCIONES]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DIRECCIONES_eREST_DISTRITOS] FOREIGN KEY([DIR_FK_DISTRITO])
REFERENCES [dbo].[eREST_DISTRITOS] ([DIS_PK_DISTRITO])
GO
ALTER TABLE [dbo].[eREST_DIRECCIONES] CHECK CONSTRAINT [FK_eREST_DIRECCIONES_eREST_DISTRITOS]
GO
ALTER TABLE [dbo].[eREST_DISTRITOS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_DISTRITOS_eREST_CANTONES] FOREIGN KEY([DIS_FK_CANTON])
REFERENCES [dbo].[eREST_CANTONES] ([CAN_PK_CANTON])
GO
ALTER TABLE [dbo].[eREST_DISTRITOS] CHECK CONSTRAINT [FK_eREST_DISTRITOS_eREST_CANTONES]
GO
ALTER TABLE [dbo].[eREST_MOBILIARIO]  WITH CHECK ADD  CONSTRAINT [FK_eREST_MOBILIARIO_eREST_SECTOR] FOREIGN KEY([MOB_FK_SECTOR])
REFERENCES [dbo].[eREST_SECTOR] ([SEC_PK_SECTOR])
GO
ALTER TABLE [dbo].[eREST_MOBILIARIO] CHECK CONSTRAINT [FK_eREST_MOBILIARIO_eREST_SECTOR]
GO
ALTER TABLE [dbo].[eREST_MOBILIARIO]  WITH CHECK ADD  CONSTRAINT [FK_eREST_MOBILIARIO_eREST_TIPOMOBILIARIO] FOREIGN KEY([MOB_FK_TIPOMOBILIARIO])
REFERENCES [dbo].[eREST_TIPOMOBILIARIO] ([TMO_PK_TIPOMOBILIARIO])
GO
ALTER TABLE [dbo].[eREST_MOBILIARIO] CHECK CONSTRAINT [FK_eREST_MOBILIARIO_eREST_TIPOMOBILIARIO]
GO
ALTER TABLE [dbo].[eREST_ORDEN]  WITH CHECK ADD  CONSTRAINT [FK_eREST_ORDEN_eREST_MOBILIARIO] FOREIGN KEY([ORD_FK_MOBILIARIO])
REFERENCES [dbo].[eREST_MOBILIARIO] ([MOB_PK_MOBILIARIO])
GO
ALTER TABLE [dbo].[eREST_ORDEN] CHECK CONSTRAINT [FK_eREST_ORDEN_eREST_MOBILIARIO]
GO
ALTER TABLE [dbo].[eREST_ORDEN]  WITH CHECK ADD  CONSTRAINT [FK_eREST_ORDEN_eREST_USUARIO] FOREIGN KEY([ORD_FK_USUARIO])
REFERENCES [dbo].[eREST_USUARIO] ([USU_PK_USUARIO])
GO
ALTER TABLE [dbo].[eREST_ORDEN] CHECK CONSTRAINT [FK_eREST_ORDEN_eREST_USUARIO]
GO
ALTER TABLE [dbo].[eREST_PERSONAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_PERSONAS_eREST_DIRECCIONES] FOREIGN KEY([PER_FK_DIRECCION])
REFERENCES [dbo].[eREST_DIRECCIONES] ([DIR_PK_DIRECCION])
GO
ALTER TABLE [dbo].[eREST_PERSONAS] CHECK CONSTRAINT [FK_eREST_PERSONAS_eREST_DIRECCIONES]
GO
ALTER TABLE [dbo].[eREST_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_eREST_PRODUCTO_eREST_RECETA] FOREIGN KEY([PRO_FK_RECETA])
REFERENCES [dbo].[eREST_RECETA] ([REC_PK_RECETA])
GO
ALTER TABLE [dbo].[eREST_PRODUCTO] CHECK CONSTRAINT [FK_eREST_PRODUCTO_eREST_RECETA]
GO
ALTER TABLE [dbo].[eREST_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_eREST_PRODUCTO_eREST_SUBCATEGORIA] FOREIGN KEY([PRO_FK_SUBCATEGORIA])
REFERENCES [dbo].[eREST_SUBCATEGORIA] ([SCA_PK_SUBCATEGORIA])
GO
ALTER TABLE [dbo].[eREST_PRODUCTO] CHECK CONSTRAINT [FK_eREST_PRODUCTO_eREST_SUBCATEGORIA]
GO
ALTER TABLE [dbo].[eREST_SECTOR]  WITH CHECK ADD  CONSTRAINT [FK_eREST_SECTOR_eREST_EMPRESA] FOREIGN KEY([SEC_FK_EMPRESA])
REFERENCES [dbo].[eREST_EMPRESA] ([EMP_PK_EMPRESA])
GO
ALTER TABLE [dbo].[eREST_SECTOR] CHECK CONSTRAINT [FK_eREST_SECTOR_eREST_EMPRESA]
GO
ALTER TABLE [dbo].[eREST_SUBBODEGAS]  WITH CHECK ADD  CONSTRAINT [FK_eREST_SUBBODEGAS_eREST_BODEGAS] FOREIGN KEY([SBO_FK_BODEGA])
REFERENCES [dbo].[eREST_BODEGAS] ([BOD_PK_BODEGA])
GO
ALTER TABLE [dbo].[eREST_SUBBODEGAS] CHECK CONSTRAINT [FK_eREST_SUBBODEGAS_eREST_BODEGAS]
GO
ALTER TABLE [dbo].[eREST_SUBCATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_eREST_SUBCATEGORIA_eREST_CATEGORIA] FOREIGN KEY([SCA_FK_CATEGORIA])
REFERENCES [dbo].[eREST_CATEGORIA] ([CAT_PK_CATEGORIA])
GO
ALTER TABLE [dbo].[eREST_SUBCATEGORIA] CHECK CONSTRAINT [FK_eREST_SUBCATEGORIA_eREST_CATEGORIA]
GO
USE [master]
GO
