<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eREST.BO.Properties.Settings.eREST_BDConnectionString"
            connectionString="Data Source=Roberto-PC\ROBERTO;Initial Catalog=eREST_BD;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
        <add name="eREST.BO.Properties.Settings.eREST_BDConnectionString1"
            connectionString="Data Source=Luis-PC\SQLEXPRESS;Initial Catalog=eREST_BD;User ID=sa;Password=al-azar95"
            providerName="System.Data.SqlClient" />
        <add name="eREST.BO.Properties.Settings.eREST_BDConnectionString2"
            connectionString="Data Source=JINTAN\SQLEXPRESS;Initial Catalog=eREST_BD;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>