<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eREST.BO.Properties.Settings.eREST_BDConnectionString"
            connectionString="Data Source=Roberto-PC\ROBERTO;Initial Catalog=eREST_BD;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>